body {
    background-color: rgb(208, 233, 255);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    box-shadow: 0 20px 30px #f9f9f9;
    transform: rotate(-5deg);
    background-color: #fff;
    color: #000;
    border-radius: 20px 20px 20px 20px;
}

.box:hover {
    transform: rotate(0);
}

.box:hover .profile {
    width: 15%;
}

p {
    margin: 1rem;
}

.profile {
    width: 10%;
    border-radius: 100%;
    border: 3px solid #fff;
}

.img-text-container {
    background-image: linear-gradient(to right, #74d690, #5cbfbb);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    color: #fff;
    border-radius: 0 0 20px 20px;
}
